<div class="todo-item">
    <p>
        <input
            type="checkbox"
            [ngModel]="data.completed"
            (ngModelChange)="onChange($event)"
        />

        <span>{{ data.title }}</span>

        <button (click)="onClick()">Delete</button>
    </p>
</div>
