<p>Todo List</p>

<button *ngIf="number$ | async as number">
    Number from store {{ number }}
</button>

<hr/>

<app-todo-input
    [query]="value"
    (whenTextChange)="onTextChange($event)"
></app-todo-input>

<ng-container *ngIf="list$ | async as list">
    <ul>
        <li *ngFor="let item of list">
            <app-todo-item
                [data]="item"
                (remove)="onRemove($event)"
                (toggled)="onToggled($event)"
            ></app-todo-item>
        </li>
    </ul>
</ng-container>

<button (click)="onAddItem()">Add Item</button>
